absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.11.1
aniso8601==9.0.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.2.0
audeer==1.19.0
audformat==0.16.1
audinterface==1.0.1
audiofile==1.2.1
audioread==3.0.0
audmath==1.2.1
audobject==0.7.9
audresample==1.2.1
av==10.0.0
Babel==2.10.3
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.2
black==19.10b0
boto3==1.26.81
botocore==1.29.81
braceexpand==0.1.7
cachetools==5.3.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.3
commonmark==0.9.1
cryptography==41.0.1
cycler==0.11.0
Cython==0.29.33
databricks-cli==0.17.7
datasets==2.10.1
debugpy==1.6.6
decorator==5.1.1
deeplake==3.2.11
dill==0.3.6
Distance==0.1.3
disvoice==0.1.8
disvoice-prosody==0.0.5
dm-tree==0.1.8
docker==6.1.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
editdistance==0.6.2
einops==0.6.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
etils==1.0.0
evdev==1.6.1
exceptiongroup==1.1.0
executing==1.2.0
faiss-cpu==1.7.3
fastapi==0.92.0
fastjsonschema==2.16.2
fasttext==0.9.2
ffmpy==0.3.0
filelock==3.9.0
Flask==2.2.3
Flask-RESTful==0.3.9
flatbuffers==23.1.21
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
g2p-en==2.1.0
gast==0.5.3
gdown==4.6.4
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==1.4.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-texttospeech==2.14.1
googleapis-common-protos==1.58.0
gradio==3.4.0
greenlet==2.0.2
grpcio==1.53.0
grpcio-status==1.53.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.8.0
htmlmin==0.1.12
httpcore==0.15.0
httplib2==0.22.0
httpx==0.23.3
hub==3.0.1
huggingface-hub==0.12.1
humbug==0.2.8
hydra-core==1.2.0
idna==3.4
ijson==3.2.0.post0
ImageHash==4.3.1
imageio==2.4.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
importlib-metadata==6.1.0
importlib-resources==5.12.0
inflect==6.0.2
iniconfig==2.0.0
ipadic==1.0.0
ipykernel==6.22.0
ipython==8.12.0
ipywidgets==8.0.2
iso-639==0.4.5
iso3166==2.1.1
isort==4.3.21
itsdangerous==2.1.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
jiwer==2.5.1
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jupyter-server==1.21.0
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.1
kaldi-io==0.9.5
kaldi-python-io==1.2.2
kaldiio==2.17.2
kiwisolver==1.4.4
latexcodec==2.0.1
lazy_loader==0.1
Levenshtein==0.20.2
libclang==15.0.6.1
librosa==0.10.0
lightning-utilities==0.7.1
linkify-it-py==2.0.0
llvmlite==0.39.1
loguru==0.6.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.4
mdurl==0.1.2
mecab-python3==1.0.5
missingno==0.5.1
mistune==2.0.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mlflow==2.4.1
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.4
multimethod==1.9
multiprocess==0.70.14
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nemo-toolkit==1.15.0
nest-asyncio==1.5.6
nltk==3.8.1
notebook_shim==0.2.0
numba==0.56.4
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.23.4
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.2.3
onnx==1.13.1
OpenCC==1.1.6
opensmile==2.4.2
opt-einsum==3.3.0
orjson==3.8.6
oyaml==1.0
packaging==23.0
pandas==1.5.1
pandas-profiling==3.4.0
pandasgui==0.2.14
pandastable==0.13.1
pangu==4.0.6.1
parameterized==0.8.1
paramiko==3.2.0
parso==0.8.3
pathos==0.3.0
pathspec==0.11.0
pathtools==0.1.2
patsy==0.5.3
pexpect==4.8.0
phik==0.12.2
phonet==0.3.7
pickleshare==0.7.5
Pillow==9.4.0
pip-api==0.0.30
pipreqs==0.4.11
plac==1.3.5
platformdirs==3.2.0
plotly==5.15.0
pluggy==1.0.0
pooch==1.7.0
portalocker==2.7.0
portpicker==1.2.0
pox==0.3.2
ppft==1.7.6.6
proglog==0.1.10
progress==1.6
promise==2.3
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyannote.core==5.0.0
pyannote.database==4.1.3
pyannote.metrics==3.2.1
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.2
PyDrive==1.3.1
pydub==0.25.1
Pygments==2.14.0
PyJWT==2.7.0
PyNaCl==1.5.0
pynput==1.7.6
pyparsing==3.0.9
pypinyin==0.48.0
pypinyin-dict==0.5.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySocks==1.7.1
pysptk==0.2.0
pytest==7.2.1
pytest-runner==6.0.0
python-dateutil==2.8.2
python-multipart==0.0.5
python-speech-features==0.6
python-xlib==0.33
pytorch-lightning==1.8.6
pytz==2022.5
PyYAML==6.0
pyzmq==25.0.2
qtstylish==0.1.5
querystring-parser==1.2.4
rapidfuzz==2.13.7
regex==2022.10.31
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-learn==1.2.2
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.15.0
setproctitle==1.3.2
shellingham==1.5.0.post1
simplegeneric==0.8.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
sox==1.4.1
soxr==0.3.3
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.17
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.25.0
statsmodels==0.13.2
sympy==1.11.1
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.11.0
tensorflow-datasets==4.8.3
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.12.0
termcolor==2.2.0
terminado==0.13.3
text-unidecode==1.3
textdistance==4.5.0
texterrors==0.4.4
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
torch==1.13.1
torch-summary==1.4.5
torchaudio==0.13.1
torchmetrics==0.11.1
torchvision==0.2.2
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.26.1
typed-ast==1.5.4
typer==0.7.0
typing_extensions==4.5.0
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.20.0
visions==0.7.5
wandb==0.13.10
wcwidth==0.2.6
webdataset==0.1.62
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.3
wordcloud==1.9.2
wrapt==1.15.0
xlrd==2.0.1
xxhash==3.2.0
yarg==0.1.9
yarl==1.8.2
yellowbrick==1.5
youtokentome==1.0.6
zipp==3.15.0
